<% include ./partials/header %>
<h1>
	Forgot password
</h1>
<div class="row">
	<div class="col-md-12">
		<form action="/forgot" method="POST">
			<label for="email">Email</label>
			<input id="email" name="email" type="email" class="form-control" autofocus>
			<input type="submit" class="btn btn-primary mt-3" value="Reset password">
		</form>
	</div>
</div>

<% include ./partials/footer %>